@font-face {
	font-family: 'Avenir Next';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
  src: local('Avenir Next Regular'),
       local('Avenir-Next-Regular'),
       url(../fonts/avenir-next-regular.woff) format('woff');
}


@font-face {
	font-family: 'Avenir Next';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
  src: local('Avenir Next Bold'),
       local('Avenir-Next-Bold'),
       url(../fonts/avenir-next-bold.woff) format('woff');
}

@font-face {
  font-family: "bootstrap-icons";
  src: url("../fonts/bootstrap-icons.woff?4601c71fb26c9277391ec80789bfde9c") format("woff"),
url("../fonts/bootstrap-icons.woff2?4601c71fb26c9277391ec80789bfde9c") format("woff2");
}
