.footer {
  margin-top: 6rem;
  padding-top: 6rem;
  padding-bottom: 3rem;
  font-size: .8rem;
  background-color: #001329;
  color: #fff;
  clip-path: ellipse(180% 80% at 40% 80%);
  @include media-breakpoint-up('lg') {
    clip-path: ellipse(130% 80% at 40% 80%);
  }

  a {
    color: currentColor;
    &:hover {
      opacity: .7;
    }
  }

  &__logo {
    @extend .container;
    img {
      max-width: 196px;
    }
  }

  &__content {
    @extend .container;
    margin-top: 3rem;
  }

  &__info {
    max-width: 320px;
  }

  &__nav {
    &__item {
      &:not(:first-child) {
        @include media-breakpoint-up('sm') {
          margin-left: 3rem;
        }
        @include media-breakpoint-up('md') {
          margin-left: 6rem;
        }
      }
    }
    &__title {
      margin-bottom: 2rem;
      font-size: 1.2rem;
      color: $white;
    }
  }

  &__copyright {
    @extend .container;
    @extend .text-center;
    margin-top: 3rem;
    font-size: .75rem;
  }
}
