$min_width: 320px;
$max_width: 1200px;
$min_font: 14px;
$max_font: 21px;

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

video,
img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  padding: 0;

  li {
    padding-left: #{16+16}px;
    background-image: url(../img/list-style-image.svg);
    background-position: left center;
    background-repeat: no-repeat;
  }
}

.page {
  @extend .w-100;
  overflow-x: hidden;
}

.contact-wrap {
  @include media-breakpoint-up('lg') {
    max-width: 414px;
  }

  svg {
    fill: $secondary;
  }

  a {
    // font-weight: bold;
  }
}
