$min_width: 320px;
$max_width: 1200px;
$min_font: 14px;
$max_font: 21px;

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  // @extend .h-100;
  // overflow: hidden;
}

video,
img {
  max-width: 100%;
  height: auto;
}

ul {
  @extend .p-0;
  list-style-type: none;

  li {
    margin-bottom: .2rem;
    padding-left: 2rem;
    background-image: url(../img/list-style-image.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 1rem 1.6rem;
  }
}

ol {
  @extend .p-0;
  list-style-position: inside;
}

#site {
  // @extend .position-absolute;
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;
  // overflow: auto;
}

.page {
  @extend .w-100;
  overflow-x: hidden;
}

.contact-wrap {
  @include media-breakpoint-up('lg') {
    max-width: 414px;
  }

  svg {
    fill: $secondary;
  }

  a {
    // font-weight: bold;
  }
}
