.header {
  @extend .w-100;
  position: fixed;
  height: 6rem;
  z-index: 999;
  font-size: .76rem;
  color: $white;
  transition: .4s;

  &.dark {
    background-color: $white;
    color: $primary;
    border-bottom: 1px solid rgba($primary, .1);
  }

  &.pull-up {
    transform: translate3d(0,-100%,0);
  }

  &__inner {
    @extend .container;
    @extend .d-flex;
    @extend .justify-content-between;
    @extend .align-items-center;
    @extend .h-100;
  }

  &__left {
    @extend .d-flex;
    @extend .align-items-center;
  }

  &__right {
    @extend .d-flex;
    @extend .align-items-center;
    @extend .col-3;
    font-weight: 700;
  }

  &__brand {
    @extend .col-2;
    margin: 0;
    padding: 0;
    margin-right: 1.25rem;
  }

  &__logo {
    @extend .position-relative;

    .original {
      opacity: 0;
      transition: opacity .4s;

      .dark & {
        opacity: 1;
      }
    }

    .light {
      @extend .position-absolute;
      top: 0;
      left: 0;
      opacity: 1;
      transition: opacity .4s;

      .dark & {
        opacity: 0;
      }
    }
  }

  .btn {
    font-size: 0.4761904762rem;
    text-transform: uppercase;
    width: 152px;
    padding-left: 1.19rem;
    padding-right: 1.19rem;
  }
}
