.menu,
.menu-item {
  @extend .m-0;
  @extend .p-0;
  list-style: none;
  background: none;
}

.navigation-primary {
  display: none;
  @include media-breakpoint-up('lg') {
    display: flex;
  }

  .menu {
    @extend .d-flex;
  }

  .menu-link {
    display: block;
    padding: 0 1rem;
    color: currentColor;

    &:hover {
      opacity: .7;
    }
  }
}

.navigation-secondary {}
