.content {
  margin: 0 auto;
  max-width: 630px;

  &__title {
    margin: 0 0 1.9rem;
    padding: 0;
  }

  &__subtitle {
    margin: 2.063rem 0 1.5rem;
    padding: 0;
  }
  &__body{
    margin: 0 0 2rem;
    padding: 0;
  }

  // &__content {}
}
