.section {
  margin: 0;
  padding: 4rem 0;
  @include media-breakpoint-up('lg') {
    padding: 8rem 0;
  }

  &.primary {
    background-color: $primary;
    color: $white;
  }

  &.highlight {
    background-color: rgba($secondary, .13);
  }

  &__inner {
    @extend .container;
  }
}
