
.card {
  max-width: 350px;
  & + & { margin-top: 2.375rem; }

  &.large {
    max-width: 100%;
  }
}

.card-figure {
  height: 326px;
  width: 100%;
  margin: 0;

  .large & {
    height: 260px;
  }
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-body {
  @extend .text-center;

  .card-figure + & {
    margin-top: 2.125rem;
  }
}

.card-title {
  font-size:  1.125rem;
  font-weight: bold;
}

.card-text {
  font-size: .875rem;

  .card-title + & {
    margin-top: .75rem;
  }
}

.card-link {
  display: inline-block;
  margin-top: 2rem;
  font-size: .875rem;
}

// .card-image {}

.card-grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-gap: 6rem;
  padding: 6rem 0;
  @include media-breakpoint-up('md') {
    grid-template-columns: 1fr 1fr;
  }

  // .card {}
  .card + .card { margin-top: 0; }
}


.illustrated-card {
  @extend .position-relative;
  padding: 2rem;
  background: #fcfcfc;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  @include media-breakpoint-up('md') {
    padding: 1.5rem 3rem;
    padding-left: 30%;
  }
  & + & { margin-top: 2.375rem; }

  &__illustration {
    @include media-breakpoint-up('md') {
      position: absolute;
      left: 2rem;
      bottom: -1.375rem;
    }
  }
  &__title { @extend .card-title; }
  &__text { @extend .card-text; }
}

.pricing-card-deck {
  @extend .d-flex;
  @extend .flex-column;
  @include media-breakpoint-up('lg') {
    flex-direction: row !important;
  }
}

.pricing-card {
  @extend .w-100;
  @extend .mx-auto;
  padding: 2 * $spacer;
  border: 1px solid $gray-200;
  &:not(:first-child) {
    @extend .mt-3;
    @include media-breakpoint-up('lg') {
      margin-top: 0 !important;
    }
  }

  .pricing-card-deck & {
    @include media-breakpoint-up('sm') { width: 75% !important; }
    @include media-breakpoint-up('lg') { width: 100% !important; }
  }

  &__header {
    margin-bottom: 2rem;

    &__title {
      @extend .m-0;
      font-size: 1.125rem;
    }
  }

  &__title {
    @extend .d-flex;
    @extend .justify-content-between;
    @extend .align-items-end;
    margin-bottom: 1rem;
    font-size: 3rem;

    small {
      position: relative;
      top: -.5rem;
      color: $gray-300;
      font-size: 1rem;
    }
  }

  &__list {
    @extend .list-unstyled;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;

    &__item {
      @extend .position-relative;
      &:not(:first-child) { margin-top: 2rem; }
      &:not(.has-child)::after {
        content: '';
        width: 20px;
        height: 20px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate3d(0,-50%,0);
        background: url(/assets/images/checkbox-checked-disabled.svg) no-repeat center;
        background-size: cover;
      }

      &.unselected:not(.has-child)::after {
      background: $gray-200 !important;
      border: 2px solid $gray-300;
      }
    }
  }

  &__sublist {
    @extend .list-unstyled;
    margin-top: 2rem;
    padding-left: 2rem;
  }
}

.accordion-card {
  background-color: #fcfcfc;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);

  &__title {
    @extend .mb-0;
    font-size: 1.125rem;
  }

  .card-header {
    background-color: inherit;

    &:hover {
      background-color: $gray-100;
    }
  }

  .card-body {
    @extend .px-4;
    @extend .pb-4;
    @extend .text-left;
  }

  .btn-link {
    @extend .text-left;
    color: $body-color;
    font-weight: bold;
    font-size: 1.125rem;

    svg {
      // transition: transform .2s ease-in-out;
      transform: rotate(-180deg) translateZ(0);
    }

    &.collapsed {
      svg {
        transform: rotate(0deg) translateZ(0);
      }
    }
  }
}
