.hero {
  position: relative;
  height: 90vh;
  clip-path: ellipse(130% 80% at 60% 20%);

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    max-width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    z-index: -1;
    pointer-events: none;
    background: #001329;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba($primary, .64);
    }
  }

  &__content {
    @extend .d-flex;
    @extend .flex-column;
    @extend .justify-content-center;
    max-width: 600px;
    color: #fff;
    width: 100%;
    height: 100%;
  }

  &__title {
    margin-top: 1rem;
    margin-bottom: 0;
  }

  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__subtitle {
    font-size: .875rem;
    text-transform: uppercase;
  }

  &__copy {
    width: 70%;
    margin-top: 1.5rem;
  }

  &__actions {
    margin-top: 1.5rem;
  }
}
