.summary-section {
  .section__inner {
    background-image: url(../img/eabusiness_logo_watercolor.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
  }
}

.home-vision,
.about-section {
  &__container {
    @include media-breakpoint-up('lg') {
      display: flex;
      justify-content: center;
    }
  }

  &__figure {
    width: 100vw;
    margin-top: 2rem;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    @include media-breakpoint-up('lg') {
      width: 304px;
      height: 420px;
      margin-top: 0;
      margin-left: 6rem;
      margin-right: 0;
      transform: translate3d(0,-50%,0);
    }
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .content {
    margin: 0;
  }
}
