.team-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  @include media-breakpoint-up('md') {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.43rem;
  }
  @include media-breakpoint-up('lg') {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
